<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add official</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="submit">На главную</button>
</form>
<form th:action="@{/seeOfficials}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="submit">Просмотреть заполненную информацию</button>
</form>
<form th:action="@{/logout}" method="post">
    <button class="btn btn-md btn-warning btn-block" type="submit">Выход</button>
</form>
<div class="container " style="margin-top: 50px">
    <h3 align="center">Сведения о должностном лице, в полномочие которого входит руководство деятельностью по защите информации.</h3>
    <form autocomplete="off" th:action="@{/addOfficials}"
          th:object="${official}" method="post" class="form-horizontal"
          role="form">
        <div class="form-group">
            <input type="text" th:field="*{title}" placeholder="Наименование должности"
                               class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{surname}"
                               placeholder="Фамилия" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{name}"
                   placeholder="Имя" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{patronymic}"
                   placeholder="Отчество" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="date" th:field="*{birth}"
                   placeholder="Дата рождения" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="email" th:field="*{email}"
                   placeholder="e-mail" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{phone}"
                   placeholder="Телефон" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{institution}"
                   placeholder="Наименование высшего учебного заведения, где обучался" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{specialty}"
                   placeholder="Специальность по диплому" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{year}"
                   placeholder="Год окончания" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{remark}"
                   placeholder="Примечание" class="form-control"  />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        </div>
        <span th:utext="${successMessage}"></span>
    </form>
</div>


</body>
</html>