<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit states</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="font-family: Arial;background-color: #f7f9f9">
<div class="wrapper" style="margin-bottom: 30px">
    <div class="container " style="margin-top: 50px" >
        <div class="row" style="border: 2px">
            <div class="col-sm-2"><img  th:src="@{/img/logo.png}" alt="logo" width="100" height="100"/></div>
            <div class="col-sm-6" style="margin-top: 40px"><span style="font-weight:bold">ВОРОНЕЖСКАЯ ОБЛАСТЬ</span></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <nav class="navbar navbar-light" style="margin-top: 10px;margin-left: 55px">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меню
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 7%">
                        <form th:action="@{/home}" method="get">
                            <button style="background-color: white;border: none;outline: none" type="submit">На главную</button>
                        </form>
                        <form class="form-inline" th:action="@{/logout}" method="post">
                            <button type="submit" style="background-color: white;border: none;outline: none">Выход</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7" style=" border: 3px  solid gainsboro; padding: 4%;background-color: white">
    <h3 align="center">Сведения о государственной информационной системе или отдельных её частях.</h3>
    <span th:utext="${successMessage}"></span>
    <form autocomplete="off" th:action="@{/editStates}"
          th:object="${state}" method="post" class="form-horizontal"
          role="form">
        <div class="form-group">
            <input type="text" th:field="*{title}" placeholder="Наименование ГИС"
                   required="required"            class="form-control"/>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{idStateInformationSystem}" placeholder="Наименование ГИС"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{user.login}" placeholder="Наименование должности"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{operator}"
                   required="required"        placeholder="Наименование оператора ГИС" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{purpose}"
                   required="required"  placeholder="Цель и назначение ГИС" class="form-control"  />
        </div>
        <div class="form-group">Ответственный за обеспечение безопасности персональных данных в ГИС	системе	(сотрудник	или	подразделение)</div>
        <input type="radio" name="switch-div_kotoriy_menayetsa" value="1" th:text="Сотрудник"/>
        <input type="radio" name="switch-div_kotoriy_menayetsa" value="0" checked="checked" th:text="Подразделение"/>
        <div id="div_kotoriy_menayetsa">
            <div class="form-group">
                <input type="text" th:field="*{name}"
                       placeholder="Имя сотрудника" class="form-control"  />
            </div>
            <div class="form-group">
                <input type="text" th:field="*{surname}" th:value="''"
                       placeholder="Фамилия сотрудника" class="form-control"  />
            </div>
            <div class="form-group">
                <input type="text" th:field="*{patronimyc}"
                       placeholder="Отчество сотрудника" class="form-control"  />
            </div>
            <div class="form-group">
                <input type="text" th:field="*{post}"
                       placeholder="Должность сотрудника" class="form-control"  />
            </div></div>
        <div id="div_kotoriy_menayetsa2">
            <div class="form-group">
                <input type="text" th:field="*{subdivision}"
                       placeholder="Наименование подразделения" class="form-control"  />
            </div></div>

        <div class="form-group">
            <input type="text" th:field="*{phone}"
                   placeholder="Контактный телефон" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="email" th:field="*{email}"
                   placeholder="e-mail" class="form-control"  />
        </div>
        <div class="form-group">
            Правовой акт о возложении обязанностей
            <input type="text" th:field="*{legalAct}"
                   placeholder="Название" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{number}"
                   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{dateAct}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">
            Нормативно правовой акт о создании ГИС
            <input type="text" th:field="*{legalActAboutCreating}"
                   required="required"    placeholder="Название" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{numberAboutCreating}"
                   required="required"    placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{dateAboutCreating}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">
            Нормативно правовой акт о порядке и сроках ввода в эксплуатацию ГИС
            <input type="text" th:field="*{legalActAboutExploitation}"
                   required="required"  placeholder="Название" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{numberAboutExploitation}"
                   required="required"   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{dateAboutExploitation}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">
            Дата ввода в эксплуатацию
            <input type="date" th:field="*{commissioning}" required="required"
                     placeholder="Дата ввода в эксплуатацию" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{restrictedAccessInformation}"
                   required="required"   placeholder="Наличие информации с ограниченным доступом" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{cryptoProtection}"
                   required="required"   placeholder="Тип криптозащиты" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{separateParts}"
                   required="required"   placeholder="Сведения об отдельных частях ГИС" class="form-control"  />
        </div>
        <div class="form-group">
            Включение в Единый реестр ГИС Воронежской области
            <input type="text" th:field="*{legalActRegister}"
                   required="required"   placeholder="Название " class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{numberRegister}"
                   required="required"   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="date" th:field="*{dateRegister}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">Классификация информационной системы.</div>
        <div class="form-group">Класс защищённости</div>
        <div class="form-group">

            <select class="form-control" th:field="*{typeofcryptoprotectionByTypeofcryptoprotection}" placeholder="Класс защищённости">
                <option th:each="typeofcryptoprotectionByTypeofcryptoprotection:${types}" th:value="${{typeofcryptoprotectionByTypeofcryptoprotection}}" th:text="${typeofcryptoprotectionByTypeofcryptoprotection.title}">
                </option>

            </select>

        </div>
        <div class="form-group">Акт классификации</div>
        <div class="form-group">
            <input type="text" th:field="*{numberClassification}"
                   required="required"   placeholder="Номер акта классификации" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{dateClassification}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">Модель угроз безопасности информации</div>
        <div class="form-group">
            <input type="text" th:field="*{threatsResults}"
                   required="required"   placeholder="Результаты рассмотрения ФСТЭК РФ" class="form-control"  />
        </div>
        <div class="form-group">
            Дата ответа
            <input type="date" th:field="*{threatsResultsDate}" required="required"
                   placeholder="Дата" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{threatsResultsNumber}"
                   required="required"   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">Оценка эффективности реализованных в рамках системы защиты персональных данных мер по обеспечению безопасности персональных данных в ГИС</div>
        <input type="radio" name="switch-div_kotoriy_menayetsa2" value="1" th:text="Лицензиатом"/>
        <input type="radio" name="switch-div_kotoriy_menayetsa2" value="0" checked="checked" th:text="Самостоятельно"/>

        <div class="form-group">
            Дата проведения
            <input type="date" th:field="*{dateOfAttestation}" required="required"
                   placeholder="Дата проведения" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{actAttestation}"
                   placeholder="Наименование документа" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{actNumberAttestation}"
                   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{actDateAttestation}" 
                   placeholder="Дата" class="form-control"  />
        </div>
        <div id="div_kotoriy_menayetsa3">
        <div class="form-group">
            <input type="text" th:field="*{attestationName}"
                   placeholder="Наименование привлечённого лицензиата" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{attestation}"
                   placeholder="Лицензия на осуществление деятельности по технической защите конфиденциальной информации" class="form-control"  />
        </div>
        <div class="form-group">
            <input type="text" th:field="*{attestationNumberLisence}"
                   placeholder="Номер" class="form-control"  />
        </div>
        <div class="form-group">
            Дата
            <input type="date" th:field="*{attestationDate}"  required="required"
                   placeholder="Дата" class="form-control"  />
        </div></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Редактировать</button>
        </div>

    </form>
        </div>
    </div>
</div>
<script>

    $('input[type=radio][name=switch-div_kotoriy_menayetsa]').change(function() {
        $('#div_kotoriy_menayetsa').toggle(
            $('input[type=radio][name=switch-div_kotoriy_menayetsa]:checked').val() == 1 ? true : false);
    })
        .change();
    $('input[type=radio][name=switch-div_kotoriy_menayetsa]').change(function() {
        $('#div_kotoriy_menayetsa2').toggle(
            $('input[type=radio][name=switch-div_kotoriy_menayetsa]:checked').val() == 0 ? true : false);
    })
        .change();
    $('input[type=radio][name=switch-div_kotoriy_menayetsa2]').change(function() {
        $('#div_kotoriy_menayetsa3').toggle(
            $('input[type=radio][name=switch-div_kotoriy_menayetsa2]:checked').val() == 1 ? true : false);
    })
        .change();


</script>


</body>



</html>