<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://pagesdialect.sourceforge.net">
<head>
    <title>Hello</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="font-family: Arial">
<div class="wrapper" style="margin-bottom: 30px">
    <div class="container " style="margin-top: 50px" >
        <div class="row" style="border: 2px">
            <div class="col-sm-2"><img  th:src="@{/img/logo.png}" alt="logo" width="100" height="100"/></div>
            <div class="col-sm-7" style="margin-top: 40px"><span style="font-weight:bold">ВОРОНЕЖСКАЯ ОБЛАСТЬ</span></div>
            <div class="col-sm-2" style="margin-top: 10px">
                <form th:action="@{/login}" method="get" style="margin-top: 20px">
                    <button class="btn" type="Submit" style="background-color: red; color: white; width: 100px;border-color: red;font-size: 10pt">ВОЙТИ</button>
                </form>
            </div>
        </div>
    </div>
</div>
<img  th:src="@{/img/main.jpg}" width="100%"  height="100%" alt="main"/>
</body>
</html>