<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://pagesdialect.sourceforge.net">
<head>
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="font-family: Arial; background-color: #f7f9f9">
<div class="wrapper" style="margin-bottom: 30px">
    <div class="container " style="margin-top: 40px" >
        <div class="row" style="border: 2px">
            <div class="col-sm-2"><img  th:src="@{/img/logo.png}" alt="logo" width="100" height="100"/></div>
            <div class="col-sm-7" style="margin-top: 40px"><span style="font-weight:bold">ВОРОНЕЖСКАЯ ОБЛАСТЬ</span></div>
            <div class="col-sm-2" style="margin-top: 10px">
                <form th:action="@{/login}" method="get" style="margin-top: 20px">
                    <button class="btn" type="Submit" style="background-color: red; color: white; width: 150px;border-color: red;font-size: 10pt;outline: none">ВОЙТИ</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7" style=" border: 3px  solid gainsboro; padding: 4%;background-color: white">
            <h2 align="center">Регистрация</h2>
            <span th:utext="${successMessage}"></span>
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <input type="text" th:field="*{surname}"
                           placeholder="фамилия" class="form-control"  required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{name}"
                           placeholder="имя" class="form-control" required="required" />
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{patronimic}"
                           placeholder="отчество" class="form-control"  required="required"/>
                </div>
                <div class="form-group">
                    <p>Субъект РФ</p>
                    <select class="form-control" th:field="*{subject}" placeholder="субъект РФ" type="hidden">
                        <option th:each="subject:${subjects}" th:value="${{subject}}" th:text="${subject.titleSubject}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" th:field="*{authority}" placeholder="субъект РФ">
                        <option th:each="authority:${authorities}" th:value="${{authority}}" th:text="${authority.titleAuthorities}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{post}"
                           placeholder="занимаемая должность" class="form-control"  required="required"/>
                </div>
                <div class="form-group">
                    <p>Контактный телефон</p>
                    <input type="text" th:field="*{phone}" class="form-control bfh-phone"
                           placeholder="контактный телефон"  data-format="+7 (ddd) ddd-dd-dd" required="required"/>
                </div>
                <div class="form-group">
                    <input type="email" th:field="*{email}"
                           placeholder="e-mail" class="form-control"  required="required"/>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{mailingAddress}"
                           placeholder="почтовый адрес" class="form-control"  required="required"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{login}" placeholder="логин"
                           class="form-control" required="required"/>
                </div>
                <div class="form-group">
                    <ul class="text-left"
                        th:each="error: ${#fields.errors('password')}">
                        <li th:each="message : ${error.split('~')}">
                            <p class="error-message"
                               th:text="${message}"></p>
                        </li>
                    </ul>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="validation-message"></p>
                    <input type="password" th:field="*{password}"
                           placeholder="пароль" class="form-control" required="required" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Зарегистрировать</button>
                </div>

            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


</body>

</html>
