<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://pagesdialect.sourceforge.net">
<head>
    <title>See personal information systems</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/home}" method="get" style="position: fixed; right: 0px;left: 0px;top:0px">
    <button class="btn btn-md btn-warning btn-block" type="submit">На главную</button>
</form>
<form th:action="@{/logout}" method="post" style="position: fixed; right: 0px;left: 0px;top:38px">
    <button class="btn btn-md btn-warning btn-block" type="submit">Выход</button>
</form>

<div  style="margin-top: 150px">
        <h3 align="center">Сведения об информационных системах персональных данных и (или) отдельных их частях.</h3>
        <table class="table table-hover" style="font-size: 10px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Ответственный</td><td> за </td><td>обеспечение </td><td>безопасности </td><td>персональных </td><td>данных</td><td> в ИСПДн </td><td>(сотрудник </td><td>или </td><td>подразделение)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Угрозы   </td>
                <td>бузопасности</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Модель угроз</td>
                <td>безопасности</td>
                <td>информации</td>
                <td>Аттестация</td>
                <td>информационной</td>
                <td>системы</td>
                <td>(самостоятельно</td>
                <td>или </td>
                 <td>   с </td>
                <td>привлечением</td>
                <td>лицензиата</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Наименование ИСПДн</td>
                <td>ИСПДн является государственной (муниципальной) системой?</td>
                <td>Наименование оператора ИСПДн</td>
                <td>Цель обработки персональных данных</td>
                <td>Имя сотрудника</td>
                <td>Фамилия сотрудника</td>
                <td>Отчество сотрудника</td>
                <td>Должность сотрудника</td>
                <td>Наименование подразделения</td>
                <td>Контактный телефон</td>
                <td>e-mail</td>
                <td>Правовой акт о возложении обязанностей (название)</td>
                <td>Номер акта</td>
                <td>Дата</td>
                <td>Нормативно правовой акт о создании ИСПДн (название)</td>
                <td>Номер</td>
                <td>Дата</td>
                <td>Нормативно правовой акт о порядке и сроках ввода в эксплуатацию ИСПДн (название)</td>
                <td>Номер</td>
                <td>Дата</td>
                <td>Дата ввода в эксплуатацию</td>
                <td>Категории обрабатываемых данных</td>
                <td>Тип криптозащиты</td>
                <td>Сведения об отдельных частях ГИС</td>
                <td>Включение в Pеестр операторов, осуществляющих обработку персональных данных, дата и регистрационный номер </td>
                <td>Номер</td>
                <td>Дата</td>
                <td>Категории субъектов, персональные данные которых обрабатываются</td>

                <td>Количество субъектов персональных данных</td>
                <td>Тип актуальных угроз безопасности</td>
                <td>Уровень защищённости персональных данных, который необходимо обеспечить при их обработке в ИСПДн</td>
                <td>Использование в ИСПДн шифровальных (криптографических) средств информации</td>

                <td>Результаты рассмотрения ФСТЕК РФ</td>
                <td>Дата</td>
                <td>Номер</td>
                <td>Дата проведения</td>
                <td>Наименование документа</td>
                <td>Номер</td>
                <td>Дата</td>
                <td>Наименование привлечённого лицензиата</td>
                <td>Лицензия на осуществление деятельности по технической защите конфиденциальной информации</td>
                <td>Номер</td>
                <td>Дата</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="o : ${personals}">
                <td th:text="${o.title}">&nbsp;</td>
                <td th:text="${o.yesnoByIdYesNo.title}">&nbsp;</td>
                <td th:text="${o.operator}">&nbsp;</td>
                <td th:text="${o.purpose}">&nbsp;</td>
                <td th:text="${o.name}">&nbsp;</td>
                <td th:text="${o.surname}">&nbsp;</td>
                <td th:text="${o.patronimyc}">&nbsp;</td>
                <td th:text="${o.post}">&nbsp;</td>
                <td th:text="${o.subdivision}">&nbsp;</td>
                <td th:text="${o.phone}">&nbsp;</td>
                <td th:text="${o.email}">&nbsp;</td>
                <td th:text="${o.legalAct}">&nbsp;</td>
                <td th:text="${o.number}">&nbsp;</td>
                <td th:text="${o.dateAct}">&nbsp;</td>
                <td th:text="${o.legalActAboutCreating}">&nbsp;</td>
                <td th:text="${o.numberAboutCreating}">&nbsp;</td>
                <td th:text="${o.dateAboutCreating}">&nbsp;</td>
                <td th:text="${o.legalActAboutExploitation}">&nbsp;</td>
                <td th:text="${o.numberAboutExploitation}">&nbsp;</td>
                <td th:text="${o.dateAboutExploitation}">&nbsp;</td>
                <td th:text="${o.commissioning}">&nbsp;</td>
                <td th:text="${o.personaldataByIdPersonalData.title}">&nbsp;</td>
                <td th:text="${o.cryptoProtection}">&nbsp;</td>
                <td th:text="${o.separateParts}">&nbsp;</td>
                <td th:text="${o.legalActRegister}">&nbsp;</td>
                <td th:text="${o.numberRegister}">&nbsp;</td>
                <td th:text="${o.dateRegister}">&nbsp;</td>
                <td th:text="${o.categoryofsubjectByIdCategoryOfSubject.title}">&nbsp;</td>
                <td th:text="${o.countsubjectsByIdCountSubjects.title}">&nbsp;</td>
                <td th:text="${o.typethreatByIdTypeThreat.title}">&nbsp;</td>

                <td th:text="${o.securitylevelByIdSecuritylevel.title}">&nbsp;</td>
                <td th:text="${o.yesnoByIdyesno2.title}">&nbsp;</td>
                <td th:text="${o.threatsResults}">&nbsp;</td>
                <td th:text="${o.threatsResultsDate}">&nbsp;</td>
                <td th:text="${o.threatsResultsNumber}">&nbsp;</td>
                <td th:text="${o.attestationName}">&nbsp;</td>
                <td th:text="${o.actAttestation}">&nbsp;</td>
                <td th:text="${o.actNumberAttestation}">&nbsp;</td>
                <td th:text="${o.actDateAttestation}">&nbsp;</td>
                <td th:text="${o.dateOfAttestation}">&nbsp;</td>
                <td th:text="${o.attestation}">&nbsp;</td>
                <td th:text="${o.attestationNumberLisence}">&nbsp;</td>
                <td th:text="${o.attestationDate}">&nbsp;</td>
                <td>
                    <a th:href="@{${o.idPersonalInformationSystem}+'/editStates'}">Редактировать</a>
                </td>
                <td>
                    <a th:href="@{${o.idPersonalInformationSystem}+'/seeHistiryStates'}">История</a>
                </td>
                <td>
                    <a th:href="@{${o.idPersonalInformationSystem}+'/deleteStates'}">Удалить</a>
                </td>
            </tr>
        </table>
</div>


</body>
</html>